.mdc-switch {
    --mdc-switch-unselected-icon-color: #ffffff;
    --mdc-switch-unselected-handle-color: var(--mdc-theme-error, #ff0000);
    --mdc-switch-unselected-focus-handle-color: var(--mdc-theme-error, #ff0000);
    --mdc-switch-unselected-hover-handle-color: var(--mdc-theme-error, #ff0000);
    --mdc-switch-unselected-pressed-handle-color: var(--mdc-theme-error, #ff0000);

    --mdc-switch-selected-icon-color: #ffffff;
    --mdc-switch-selected-handle-color: #248636;
    --mdc-switch-selected-focus-handle-color: #248636;
    --mdc-switch-selected-hover-handle-color: #248636;
    --mdc-switch-selected-pressed-handle-color: #248636;

    --mdc-switch-disabled-unselected-handle-color: var(--mdc-theme-error, #ff0000);
    --mdc-switch-disabled-selected-handle-color: #248636;
}

.mdc-slider__value-indicator-text {
    color: #c9c1c4;
}

.mdc-segmented-button__segment:disabled {
    opacity: 0.4;
}

.hidden {
    display: none !important;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.left {
    margin-right: 20px;
    width: 300px;
}
.right {
    flex: 1 0;
}
.filler {
    flex: 1 0;
}

.dangerzone {
    --mdc-theme-on-surface: var(--mdc-theme-error, #ff0000);
    --mdc-theme-primary: var(--mdc-theme-error, #ff0000);
    --mdc-theme-on-primary: #ffffff;
    margin-top: 72px;
}
.dangerzone > div {
    display: flex;
    flex-wrap: wrap;
}
