@use "sass:color";

@use "@material/theme/color-palette";

@use "@material/theme/index" as theme with (
    $primary: #0a68da,
    $secondary: #676778,
    $surface: #fff,
    $background: #fff,
    $error: color-palette.$red-900
);

@use "@material/theme/styles";
@use "@material/typography/mdc-typography";
@use "@material/typography/index" as typography;

html,
body {
    background-color: theme.$surface;
    color: #202428;
    @include typography.typography("body1");
}

code,
pre {
    font-family: "Roboto Mono", monospace;
}

a {
    color: #0a68da;
}
a:visited {
    color: color.scale(#0a68da, $lightness: -35%);
}
