.layout {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 64px;
}
.layout-row {
    align-items: center;
    display: flex;
    height: 64px;
}

.layout-row > span:hover {
    background-color: #e5e5e5;
}
