div.layout-container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.layout-row {
    align-items: center;
    display: flex;
    height: 32px;
}

span.layout {
    height: 32px;
    text-align: center;
    width: 64px;
}

span.layout > span {
    cursor: pointer;
    display: block;
    height: 32px;
    width: 64px;
}

.layout > span > img {
    pointer-events: none;
}

.layout:hover {
    background-color: #e5e5e5;
}

.layout-preview {
    position: absolute;
}

.modal-fixed {
    max-width: none !important;
    width: 1300px;
}
